.header {
  display: flex;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  .container {
    display: flex;
    align-items: center;
  }

  &__contact {
    margin-left: 345px;
    margin-top: 32px;
    margin-bottom: 32px;

    ul {
      display: flex;
      margin-right: 0px;

      & :not(:last-child) {
        margin-right: 30px;
      }
    }

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: $textSecondary;
      text-decoration: none;
      list-style-type: none;
      text-align: right;
      display: flex;
      align-items: center;
      fill: $defaultPreHover;
      transition: color, fill $transitionDefault;

      &:hover,
      &:focus {
        color: $brandColor;
        fill: $brandColor;
      }
    }
  }
}
